{{ extends "global/Page.html" }}
{{ block title }}
    <h1> Round {{ group.round_number }} of the Second Mover </h1>
{{ endblock }}

{{ block content }}
    <br><br>
    <p>
        Round {{ group.round_number }}
        <br>
        You are the second mover.
        <br>
        The first mover choose to allocate {{ group.portfolio }} tokens on asset A.
        <br>
        You get $ {{ player.signal }} as a signal for the value of the asset A.
        <br>
        A noise is equally likely ranging from -$10 to $10.
        <br>
        Hence, the real value of the asset A is surely within the range from {{ player.lower }} to {{ player.upper }}.
        <br>
        The value of the asset B is $125 surely.
        <br><br>
        If you choose option C, then you will get payoffs between ${{ player.payoff_lower }} and ${{ player.payoff_upper }} when the other choose option C.
        <br>
        Otherwise, you will getl dollars between ${{ player.payoff_lower_50 }} and ${{ player.payoff_upper_50 }}
        <br>
        If you choose option D, then you will surely get $100
        <br><br>

        Which option do you choose? Click one of the buttons below.
    </p>

    <button name='option' value="True">Option C</button>
    <button name='option' value="False">Option D</button>

 {% if player.round_number != 1 and player.type == 'second_mover' %}
         <div class="card-header mb-3 text-center" style="background:#DEF0FC; color:#2E7099">
            <b>History Table</b>
        </div>
            <div class="row justify-content-center" style="max-height:40vh; overflow: scroll;">
                <table class="table" style="width:500px">
                    <tr>
                        <th class="text-center">Round</th>
                        <th class="text-center">Value of the Asset A</th>
                        <th class="text-center">Signal of the Asset A</th>
                        <th class="text-center">Your Choice</th>
                        <th class="text-center">Payoff</th>
                    </tr>
                    <tbody>
                    {% for p in player.in_previous_rounds %}
                        <tr>
                            <td class="text-center my_style">{{p.round_number}}</td>
                            <td class="text-center"> {{ p.recordav }}</td>
                            <td class="text-center"> {{ p.recordsn }}</td>
                            <td class="text-center">{% if p.option == True %} Option C {% else %} Option D {% endif %}</td>
                            <td class="text-center"> {{ p.pay_round }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
             </div>
    {% endif %}

{{ endblock }}